/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==============
   MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  margin-bottom: 10px;
  padding: 15px 0;
  text-decoration: none;
  color: #122;
}

nav a:hover,
nav a:visited {
  color: teal;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ===============
    CUSTOM
   =============== */

* {
  transform-origin: 0px 0px 0px;
}

a {
  text-decoration: none;
}

.header-container {
  border-bottom: 20px solid slategray;
}

.header-container {
  background: #fff;
}

header {
  border-bottom: 1px solid #e0e6ed;
  height: 62px;
  line-height: 62px;
}

header .logo {
  transition: fill 0.3s ease-in-out;
  height: 30px;
  margin: 0 0 0 35px;
  z-index: 200;
  cursor: pointer;
  fill: #1fb6ff;
}

header .logo:hover {
  fill: url(#effect);
}

pattern {
  overflow: hidden;
}

image[Attributes Style] {
  width: 80;
  height: 30;
}

.float-left {
  float: left;
}

svg:not(:root) {
  overflow: hidden;
}

svg[Attributes Style] {
  width: 80;
}

html|* > svg {
  transform-origin: 50% 50% 0px;
}

.inner-container {
  width: 100%;
  padding-bottom: 5px;
}

.sub-container {
  width: 80%;
}

.button {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.button-frame {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background: limegreen;
  text-align: center;
}

.button-frame:hover {
  background: green;
}

.clicker {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  background-color: slategray;
  text-align: center;
  padding: 20px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.clicker:hover {
  color: aqua;
  background: darkslategray;
}

.clicker a {
  color: white;
}

#module {
  position: relative;
  background: yellow;
}

.img {
  width: 100%;
}

ul {
  list-style:none;
  padding-left:0;
}

.checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 10px;
  vertical-align: middle;
  background: red;
  cursor: pointer;
}

.checked {
  background-color: yellow;
}

div.details {
  display: none;
}

#share-buttons img {
  width: 40px;
  padding: 20px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

.footer-container,
.main aside {
  border-top: 20px solid darkslategray;
  background: #122;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
  }

/* ============
    WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

/* ============
    WIDE: Main
   ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }

/* ===============
    CUSTOM
   =============== */

  .inner-container {
    width: 50%;
  }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
