/*

variables

$lightblue: #b3d4fc;
$lightslategray: #60758D;
$slategray: #49596B;
$darkslategray: #262F38;
$extralightpurple: #D5CCFF;
$lightpurple: #B6ABD9;
$blueviolet: #311B92;
$darkblueviolet: #311B7E;
$lightgreenblue: #50E3C2;
$darkgreenblue: #3EB097;
$yellow: #FFF684;
$darkyellow: #F3EB7E;
$redorange: #FF4500;

$lightwhite: #F7FBFF;
$darkwhite: #F2F8FF;
$teal: #72C5CF;
$midteal: #64ADB5;
$darkteal: #3A6469;
$green: #80E993;

$mobile: 30em;
$tablet: 48em;
$desktop: 62em;
$xdesktop: 75em;

*/

* {
  transform-origin: 0px 0px 0px;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font: 16px/26px 'Karla', Helvetica, Helvetica Neue, Arial;
  font-weight: 400;
  font-style: normal;
  background: #F7FBFF;
}

::-moz-selection, ::selection {
  background: #50E3C2;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #50E3C2;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #F7FBFF;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  font-size: 1.6em;
  font-weight: 400;
  color: #FF4500;
}

a {
  text-decoration: none;
  color: #50E3C2;
}
a:hover {
  color: #72C5CF;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  .wrapper {
    width: 67.2%;
  }
}

/* nav */

nav {
  padding-top: 12px;
  padding-bottom: 12px;
  float: right;
  width: 60%;
  text-align: right;
}
@media screen and (min-width: 30em) {
  nav {
    width: 70%;
  }
}
@media screen and (min-width: 48em) {
  nav {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  display: inline;
}
nav a {
  font-size: .65em;
  margin-bottom: 10px;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #F7FBFF;
  float: right;
  margin: 0;
  padding: 0;
}
nav a.submit {
  width: 65%;
}
@media screen and (min-width: 48em) {
  nav a.submit {
    width: 60%;
  }
}
@media screen and (min-width: 62em) {
  nav a.submit {
    width: 50%;
  }
}
nav a.what {
  width: 35%;
}
@media screen and (min-width: 62em) {
  nav a.what {
    width: 40%;
  }
}
nav a:hover {
  color: #50E3C2;
}
@media screen and (min-width: 30em) {
  nav a {
    font-size: .75em;
  }
}
@media screen and (min-width: 48em) {
  nav a {
    font-size: .85em;
  }
}

/* header */

.header-container {
  background: #262F38;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 11;
}
@media screen and (min-width: 48em) {
  .header-container {
    height: 90px;
  }
}

header svg.logo {
  transition: fill 1s ease;
  height: 30px;
  padding: 10px 0;
  z-index: 200;
  cursor: pointer;
  fill: #50E3C2;
}
header svg.logo:hover {
  fill: url(#gradient);
}
@media screen and (min-width: 48em) {
  header svg.logo {
    height: 70px;
  }
}

header svg {
  padding: 10px 0;
  z-index: 200;
  cursor: pointer;
}
header svg path {
  fill: #fff;
}

#fade-gradient {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
#fade-gradient:hover {
  opacity: 1.0;
}

/* main */

.main-container {
  padding: 60px 0 10px 0;
}

@media screen and (min-width: 48em) {
  .main-container {
    padding-top: 100px;
  }
}

.main {
  padding: 0;
}
@media screen and (min-width: 48em) {
  .main article {
    float: left;
    width: 57%;
  }
}
.main article h1 {
  font-size: 2em;
}

.inner-container {
  width: 100%;
  margin: 5px auto;
  background: #E7EBEF;
}
@media screen and (min-width: 48em) {
  .inner-container {
    width: 70%;
  }
}

.sub-container {
  width: 96%;
  margin: 0 auto;
}

img.dish-pic {
  width: 100%;
}

img.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.clicker {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  fill: #311B92;
  background: #D5CCFF;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.clicker:hover {
  color: #311B7E;
  background: #B6ABD9;
}

img.reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.module {
  position: relative;
}

.details {
  display: none;
}

h3.recipe-title {
  padding-left: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

ul.ingredients-list {
  list-style: none;
  padding-left: 20px;
}

.checkbox {
  display: inline-block;
  background: #F7FBFF;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 10px;
  vertical-align: middle;
  border: 1pt solid #60758D;
  cursor: pointer;
}

.checked {
  background: #80E993;
}

.button-frame {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background: #72C5CF;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}
.button-frame:hover {
  background: #64ADB5;
}

a.button {
  color: #F7FBFF;
  text-decoration: none;
}
a.button:hover {
  color: #F2F8FF;
}

/* internal pages */

.submit-container, .what-container {
  padding: 2em 0;
}

.what-container {
  padding-bottom: 4em;
}

.header-1-wrapper, .header-2-wrapper, .header-3-wrapper, .header-4-wrapper {
  padding: .25em 0;
  display: table;
}

.header-2-wrapper, .header-3-wrapper, .header-4-wrapper {
  margin-top: 3em;
}

.header-1, .header-2, .header-3, .header-4 {
  padding: 0;
  display: block;
  vertical-align: middle
}

@media screen and (min-width: 30em) {
  .header-1, .header-2, .header-3, .header-4 {
    display: table-cell;
    padding: 0 0 0 .5em;
  }
  .form-jump {
    display: table-cell;
    text-align: right;
    width: 100%;
  }
}

.lemon-icon, .carrot-icon, .broccoli-icon, .eggplant-icon {
  height: 3em;
  width: 3em;
  display: inline;
}

.lemon-icon {
  fill: #FFF684;
}

.carrot-icon {
  fill: #D5CCFF;
}

.broccoli-icon {
  fill: #80E993;
}

.eggplant-icon {
  fill: #311B92;
}

.recipe-submit-section {
  margin-top: 1.5em;
}

.recipe-form-header {
  width: 60%;
}

.form-jump {
  display: block;
  text-align: left;
  padding: 0;
  width: 100%;
}

/* form */

.success {
  margin: 0 0 2em 0;
  padding: 1em;
  background: #80E993;
}

img.success-pic {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .success {
    padding: 2em;
  }
}

img.success-pic {
  width: 100%;
}

.form-header-wrapper {
  padding-bottom: 2em;
}

.form-wrapper {
  padding: 1em 0 2em 0;
}
.form-wrapper fieldset{
  border: none;
}
.form-wrapper label {
  display: block;
  margin-bottom: .5em;
}
.form-wrapper input[type="text"],
.form-wrapper input[type="date"],
.form-wrapper input[type="datetime"],
.form-wrapper input[type="email"],
.form-wrapper input[type="number"],
.form-wrapper input[type="search"],
.form-wrapper input[type="time"],
.form-wrapper input[type="url"],
.form-wrapper textarea,
.form-wrapper select {
  background: rgba(255,255,255,.1);
  border: none;
  font-size: 1em;
  margin: 0 0 2em 0;
  padding: 1em;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
.form-wrapper input[type="text"]:focus,
.form-wrapper input[type="date"]:focus,
.form-wrapper input[type="datetime"]:focus,
.form-wrapper input[type="email"]:focus,
.form-wrapper input[type="number"]:focus,
.form-wrapper input[type="search"]:focus,
.form-wrapper input[type="time"]:focus,
.form-wrapper input[type="url"]:focus,
.form-wrapper textarea:focus,
.form-wrapper select:focus{
  background: #d2d9dd;
}
.form-wrapper select{
  -webkit-appearance: menulist-button;
  height: 2em;
}

.form-wrapper button {
  position: relative;
  display: block;
  padding: 1em;
  color: #FFF;
  margin: 0 0 2em 0;
  background: #50E3C2;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  border-radius: 2px;
}
.form-wrapper button:hover {
  background: #3EB097;
}

@media screen and (min-width: 30em) {
  .form-wrapper input[type="text"],
  .form-wrapper input[type="date"],
  .form-wrapper input[type="datetime"],
  .form-wrapper input[type="email"],
  .form-wrapper input[type="number"],
  .form-wrapper input[type="search"],
  .form-wrapper input[type="time"],
  .form-wrapper input[type="url"],
  .form-wrapper textarea,
  .form-wrapper select {
    width: 75%;
  }
  .form-wrapper button {
    width: 75%;
  }
}

/* footer */

.footer-container {
  background: #262F38;
}
.footer-container footer {
  color: #F7FBFF;
  padding: 20px 0;
}

.share-buttons {
  display: inline;
}
.social-icons-svg {
  padding: 10px;
  fill: #F7FBFF;
}
.social-icons-svg:hover {
  fill: #50E3C2;
}
.social-icons {
  width: 40px;
  height: 40px;
  border: 0;
  transition: fill 0.3s ease-in-out;
}

/* helper classes */

.ie7 .title {
  padding-top: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
