// variables

$lightblue: #b3d4fc;
$lightslategray: #60758D;
$slategray: #49596B;
$darkslategray: #262F38;
$extralightpurple: #D5CCFF;
$lightpurple: #B6ABD9;
$blueviolet: #311B92;
$darkblueviolet: #311B7E;
$lightgreenblue: #50E3C2;
$darkgreenblue: #3EB097;
$yellow: #FFF684;

$lightwhite: #F7FBFF;
$darkwhite: #F2F8FF;
$teal: #72C5CF;
$midteal: #64ADB5;
$darkteal: #3A6469;
$green: #80E993;

$mobile: 30em;
$tablet: 48em;
$desktop: 62em;
$xdesktop: 75em;

@mixin mq($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// base

* {
  transform-origin: 0px 0px 0px;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font: 16px/26px 'Karla', Helvetica, Helvetica Neue, Arial;
  font-weight: 400;
  font-style: normal;
  background: $lightwhite;
}

::-moz-selection, ::selection {
  background: $lightgreenblue;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $lightgreenblue;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: $lightwhite;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: $lightgreenblue;
  &:hover {
    color: $darkgreenblue;
  }
}

// wrapper

.wrapper {
  width: 90%;
  @include mq($tablet) {
    width: 67.2%;
  }
  margin: 0 auto;
}

// header

nav {
  padding-top: 12px;
  padding-bottom: 12px;
  float: right;
  width: 60%;
  text-align: right;
  @include mq($mobile) {
    width: 70%;
  }
  @include mq($tablet) {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
    }
  }
  a {
    font-size: .65em;
    margin-bottom: 10px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $lightwhite;
    float: right;
    margin: 0;
    padding: 0;
    &.submit {
      width: 65%;
      @include mq($tablet) {
        width: 60%;
      }
      @include mq($desktop) {
        width: 50%;
      }
    }
    &.what {
      width: 35%;
      @include mq($desktop) {
        width: 40%;
      }
    }
    &:hover {
      color: $darkteal;
    }
    @include mq($mobile) {
      font-size: .75em;
    }
    @include mq($tablet) {
      font-size: .85em;
    }
  }
}

// header and SVG logo

.header-container {
  background: $teal;
  height: 50px;
  @include mq($tablet) {
    height: 90px;
  }
}

header {
  svg.logo {
    transition: fill 0.3s ease-in-out;
    height: 30px;
    padding: 10px 0;
    z-index: 200;
    cursor: pointer;
    fill: $lightwhite;
    &:hover {
      fill: url(#effect);
    }
    @include mq($tablet) {
      height: 60px;
    }
  }
}

// mains section

.main {
  padding: 0;
  @include mq($tablet) {
    article {
      float: left;
      width: 57%;
    }
  }
  article h1 {
    font-size: 2em;
  }
}

// image and recipe

.inner-container {
  width: 100%;
  margin: 5px auto;
  background: $darkwhite;
  @include mq($tablet) {
    width: 70%;
  }
}

.sub-container {
  width: 96%;
  margin: 0 auto;
}

img.dish-pic {
  width: 100%;
}

.clicker {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  fill: $blueviolet;
  background: $extralightpurple;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  &:hover {
    color: $darkblueviolet;
    background: $lightpurple;
  }
}

img.reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.module {
  position: relative;
}

.details {
  display: none;
}

h3.recipe-title {
  padding-left: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

ul.ingredients-list {
  list-style: none;
  padding-left: 20px;
}

.checkbox {
  display: inline-block;
  background: $lightwhite;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 10px;
  vertical-align: middle;
  border: 1pt solid $lightslategray;
  cursor: pointer;
}

.checked {
  background: $green;
}

.button-frame {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background: $teal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  &:hover {
    background: $midteal;
  }
}

a.button {
  color: $lightwhite;
  text-decoration: none;
  &:hover {
    color: $darkwhite;
  }
}

// footer

.footer-container {
  background: $darkslategray;
  footer {
    color: $lightwhite;
    padding: 20px 0;
  }
}

.share-buttons {
  display: inline;
  img.social {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 0;
    fill: $lightwhite;
    &:hover{
      fill: $darkwhite;
    }
  }
}

/* Helper Classes */

.ie7 .title {
  padding-top: 20px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  *zoom: 1;
}
